body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}

h1 {
  text-align: center;
  color: #fff;
}

.menu {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
  text-align: center;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu ul li {
  display: inline-block;
  margin-right: 10px;
}

.menu ul li a {
  color: #fff;
  text-decoration: none;
}

.container {
  margin-top: 20px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

h2 {
  margin-top: 40px;
  color: #ffffff;
}

ul {
  margin-top: 10px;
  padding-left: 20px;
}

.wrap-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}

.wrap-content p {
  margin-bottom: 10px;
}

.wrap-content ul {
  margin-top: 10px;
  padding-left: 20px;
}

.table {
  background-color: transparent;
}

.card {
  border: 1px solid #ccc;
  background-color: transparent;
  border-radius: 8px;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
}

.card-text {
  margin-bottom: 10px;
}

.card-text ul {
  padding-left: 20px;
}

.card-body table tbody {
  background-color: rgba(255, 255, 255, 0.2);
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}
